name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: 1.24
        cache: true

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Go version
      run: go version

    - name: Test
      run: go test ./...

